html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 24px;
}

nav{
    background-color: #fff;
    padding: 0;
}

.navTop{
    background-color: #3039ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search{
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 375px;
}

.navItemimg{
    max-width: 20%;
    height: auto;
}

.navItem{
    padding: 0 5px;
}

.navBottom{
    display: flex;
    background-color: #00096f;
    padding: 10px 90px;
    border-color: #333;
    justify-content: center;
}

.about{
    color: #fff;
    text-decoration: underline;
    font-size: 90%; 
    transition-duration: 0.4s;
    padding:0 50px;
    border-radius: 30px;
    background-color: #c330ff;
    max-height: 100%;
    width: auto;
}
.about:hover{
    color: #c330ff;
    background-color: #fff;
}

.aboutSpecialCase{
    color: #fff;
    background-color: #444499;
    transition-duration: 0.4s;
    border-radius: 2px;
    font-size: 90%; 
}

.aboutSpecialCase:hover{
    color: #444499;
    background-color: #fff;
}


.searchInput{
    background-color: transparent;
    border: none;
    color: #fff;
    margin-right: 10px;
}

.bookingContainer{
    padding: 40px;
}

.bookingLog{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.bookingLogItem{
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 20px;
    border-top: 20px solid #3039ff;
    display: flex;
    justify-content: space-between;
}

