html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: #fff;
    padding: 0;
}

.navTop{
    background-color: #3039ff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.search{
    display: flex;
    align-items: center;
    background-color: #222;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 375px;
}

.navItemimg{
    max-width: 20%;
    height: auto;
}

.navItem{
    padding: 0 5px;
}

.navBottom{
    display: flex;
    justify-content: right;
    background-color: #00096f;
    padding: 10px 20px;
    border-color: #333;
}

.about{
    color: #fff;
    text-decoration: underline;
    font-size: 90%; 
    transition-duration: 0.4s;
    padding:0 50px;
    border-radius: 30px;
    background-color: #c330ff;
    max-height: 100%;
    width: auto;
}
.about:hover{
    color: #c330ff;
    background-color: #fff;
}

.aboutSpecialCase{
    color: #fff;
    background-color: #c330ff;
    border-radius: 2px;
}

.searchInput{
    background-color: transparent;
    border: none;
    color: #fff;
    margin-right: 10px;
}

.introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 100px 0;
    background-color: #307;
    background-size: cover;
    background-position: center;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


